<ion-content class="custom-bg-color">
  <ion-icon class="iconButton" name="home-outline" (click)="close()"></ion-icon>
  <swiper-container class="sp-bg-color">

    <swiper-slide *ngFor="let slide of slides">
      <h2 class="ion-text-capitalize">{{slide.title}}</h2>
      <ion-icon name="{{slide.icon}}"></ion-icon>
      <ion-avatar class="style-avatar">
        <img alt="Silhouette of a person's head" src="{{slide.avatar}}" />
      </ion-avatar>
      <img src="{{slide.image}}" alt="">
      <p class="ion-text-justify">{{slide.description}}</p>
    </swiper-slide>
  </swiper-container>
</ion-content>
