<ion-content>
  <swiper-container>
    <swiper-slide>
      <h2>Titulo del slide 1</h2>
      <img src="https://media.slidesgo.com/storage/10149218/conversions/0-music-lesson-thumb.jpg" alt="">
      <p>Hola soy un parrafo del slide 1</p>
    </swiper-slide>
    <swiper-slide>
      <h2>Titulo del slide 2</h2>
      <img src="https://imgscf.slidemembers.com/docs/1/1/288/music_festival_powerpoint_templates_design_287563.jpg" alt="">
      <p class="cool-title">Hola so un parrado del slide 2</p>
    </swiper-slide>
    <swiper-slide>
      <h2 class="cool-title">Titulo del slide 3</h2>
      <ion-icon name="cloud-upload-outline"></ion-icon>
      <p>Hola soy un parrafo del slide 3</p>
    </swiper-slide>
  </swiper-container>
</ion-content>
